@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin: 0 auto;
}

p{
  font-size: 1.9rem;
}

h1 {
  font-size: 4rem;
  text-shadow: 0px 0px 5px #e4d6f1, 0px 0px 10px #e9def4, 0px 0px 10px #d8d6da,
  0px 0px 20px #d8cbe4;
}

h2{
  font-size: 3rem;
  text-shadow: 0px 0px 5px #e4d6f1, 0px 0px 5px #e9def4, 0px 0px 5px #d8d6da,
    0px 0px 5px #d8cbe4;
}

.App{
  width: 100%;
  height: 100vh;
  position: relative;
  color: white ;
  background: url('./images/pex3.jpg') no-repeat center center/cover;
}

.search {
  text-align: center;
  padding: 1rem;
}

input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid #226fac;
  background-color: #156190;
  opacity: 0.7;
  color: white;
}

input:focus {
  outline: 1px solid #226fac;
}

::placeholder{
  color: white;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top:1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.top {
width:100%;
margin: 1rem auto;
}

.bottom {
display: flex;
text-align: center;
width: 100%;
margin: 1rem auto;
padding: 1rem;
border-radius: 12px;
background-color: #3c7da5;
opacity: 0.7;
text-shadow: 0px 0px 5px #e4d6f1, 0px 0px 10px #e9def4, 0px 0px 10px #d8d6da,
0px 0px 20px #d8cbe4;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 375px) {
  .container {
  max-width: 500px;
  height: 600px;
  margin: auto;
  }
} 